.login {
   position: relative;
   height: 100vh;
   width: 100%;
   background: linear-gradient(45deg, #007bff82, #ffc1074a);
}

.login-container {
   background: lavender;
   padding: 70px 20px;
   padding-top: 51px;
   border-radius: 10px;
   box-shadow: 20px 20px 5px 6px #ffc107;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.login-container h2 {
   text-align: center;
   margin-bottom: 30px;
}


.login-btn {
   width: 250px;
   height: 50px;
   line-height: 40px;
   border: 1px solid;
   display: flex;
   justify-content: center;
   align-content: center;
   color: var(--white-color) !important;
   background-color: #4086f4;
   padding: 4px 5px;
   font-weight: 500;
   border: none;
   border-radius: var(--radius);
   margin: 0 auto;
}

button.btn.login-btn p {
   margin-right: 10px;
}

.login-btn span {
   margin-right: 10px;
}


button.btn.login-btn {
   border-radius: 5px;
}