body {
  font-family: 'Barlow', sans-serif !important;
}

.logo-box-two {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

ul.header-top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

ul.header-top-item li {
  list-style: none;
}

ul.header-top-item li p {
  margin-bottom: 0;
}

aside.admin-dashboard-wrap h3 span img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ul.sidebar {
  background: darkblue;
  padding-left: 10px;
}

aside.admin-dashboard-wrap {
  width: 100%;
  background: darkblue;
  height: 100vh;
  padding: 30px 5px;
}

.admin-dashboard-wrap h3 {
  color: #fff
}

.deshboard-link {
  padding-top: 50px;
  padding-left: 15px;
}

.deshboard-link a {
  display: block;
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.deshboard-link a span {
  display: inline-block;
  margin-right: 15px;
}

.login-profile {
  display: flex;
  align-items: center;
}

.account-details {
  margin-left: 20px;
}

.account-details h1 {
  text-transform: uppercase;
}

.login-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

a.nav-link svg {
  display: inline-block;
  margin-right: 10px;
}


.testimonial {
  text-align: center;
  box-shadow: 10px 10px 5px 10px #ffc107;
  border-radius: 2px;
  padding: 15px;
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.author-title h6 {
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}

.title {
  text-align: center;

}

.title h3 {

  font-family: 'Mina', sans-serif !important;
  font-size: 60px;
}

img.service-image {
  width: 150px;
  margin-bottom: 30px;
}

article.service {
  padding: 10px;
  box-shadow: 10px 10px 5px 10px #48e1fc9f;
}